<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
<rule name="rule 1k">
	<match url="^index(|/)$"  />
	<action type="Rewrite" url="/./index.php"  />
</rule>
<rule name="rule 2k">
	<match url="^login(|/)$"  />
	<action type="Rewrite" url="/./login.php"  />
</rule>
<rule name="rule 3k">
	<match url="^register(|/)$"  />
	<action type="Rewrite" url="/./register.php"  />
</rule>
<rule name="rule 4k">
	<match url="^support(|/)$"  />
	<action type="Rewrite" url="/./support.php"  />
</rule>
<rule name="rule 5k">
	<match url="^news/(..*)$"  />
	<action type="Rewrite" url="/./news.php?url={R:1}"  />
</rule>
<rule name="rule 6k">
	<match url="^account/(..*)$"  />
	<action type="Rewrite" url="/./account.php?item={R:1}"  />
</rule>
<rule name="rule 7k">
	<match url="^photos/(..*)$"  />
	<action type="Rewrite" url="/./photos.php?url={R:1}"  />
</rule>
<rule name="rule 8k">
	<match url="^home/(..*)$"  />
	<action type="Rewrite" url="/./home.php?idd={R:1}"  />
</rule>
<rule name="rule 9k">
	<match url="^logout(|/)$"  />
	<action type="Rewrite" url="/./logout.php"  />
</rule>
<rule name="rule 10k">
	<match url="^banned(|/)$"  />
	<action type="Rewrite" url="/./banned.php"  />
</rule>
<rule name="rule 11k">
	<match url="^mantenimiento(|/)$"  />
	<action type="Rewrite" url="/./mantenimiento.php"  />
</rule>
<rule name="rule 12k">
	<match url="^disconnected(|/)$"  />
	<action type="Rewrite" url="/./disconnected.php"  />
</rule>
<rule name="rule 13k">
	<match url="^hotel(|/)$"  />
	<action type="Rewrite" url="/./hotel.php"  />
</rule>
<rule name="rule 14k">
	<match url="^me(|/)$"  />
	<action type="Rewrite" url="/./me.php"  />
</rule>
<rule name="rule 15k">
	<match url="^articles(|/)$"  />
	<action type="Rewrite" url="/./articles.php"  />
</rule>
<rule name="rule 16k">
	<match url="^articles/gratis(|/)$"  />
	<action type="Rewrite" url="/./articles-gratis.php"  />
</rule>
<rule name="rule 17k">
	<match url="^articles/hotel(|/)$"  />
	<action type="Rewrite" url="/./articles-hotel.php"  />
</rule>
<rule name="rule 18k">
	<match url="^articles/mobis(|/)$"  />
	<action type="Rewrite" url="/./articles-mobis.php"  />
</rule>
<rule name="rule 19k">
	<match url="^articles/promocao(|/)$"  />
	<action type="Rewrite" url="/./articles-promocao.php"  />
</rule>
<rule name="rule 20k">
	<match url="^articles/sistema(|/)$"  />
	<action type="Rewrite" url="/./articles-sistema.php"  />
</rule>
<rule name="rule 21k">
	<match url="^gallery(|/)$"  />
	<action type="Rewrite" url="/./gallery.php"  />
</rule>
<rule name="rule 22k">
	<match url="^famous(|/)$"  />
	<action type="Rewrite" url="/./famous.php"  />
</rule>
<rule name="rule 23k">
	<match url="^team(|/)$"  />
	<action type="Rewrite" url="/./team.php"  />
</rule>
<rule name="rule 24k">
	<match url="^shop(|/)$"  />
	<action type="Rewrite" url="/./shop.php"  />
</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>