<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
<rule name="rule 1W">
	<match url="^index(|/)$"  />
	<action type="Rewrite" url="/./index.php"  />
</rule>
<rule name="rule 2W">
	<match url="^login(|/)$"  />
	<action type="Rewrite" url="/./login.php"  />
</rule>
<rule name="rule 3W">
	<match url="^forgot(|/)$"  />
	<action type="Rewrite" url="/./forgot.php"  />
</rule>
<rule name="rule 4W">
	<match url="^forgotchange(|/)$"  />
	<action type="Rewrite" url="/./forgotchange.php"  />
</rule>
<rule name="rule 5W">
	<match url="^register(|/)$"  />
	<action type="Rewrite" url="/./register.php"  />
</rule>
<rule name="rule 6W">
	<match url="^support(|/)$"  />
	<action type="Rewrite" url="/./support.php"  />
</rule>
<rule name="rule 7W">
	<match url="^news/(..*)$"  />
	<action type="Rewrite" url="/./news.php?url={R:1}"  />
</rule>
<rule name="rule 8W">
	<match url="^account/(..*)$"  />
	<action type="Rewrite" url="/./account.php?item={R:1}"  />
</rule>
<rule name="rule 9W">
	<match url="^photos/(..*)$"  />
	<action type="Rewrite" url="/./photos.php?url={R:1}"  />
</rule>
<rule name="rule 10W">
	<match url="^home/(..*)$"  />
	<action type="Rewrite" url="/./home.php?idd={R:1}"  />
</rule>
<rule name="rule 11W">
	<match url="^logout(|/)$"  />
	<action type="Rewrite" url="/./logout.php"  />
</rule>
<rule name="rule 12W">
	<match url="^banned(|/)$"  />
	<action type="Rewrite" url="/./banned.php"  />
</rule>
<rule name="rule 13W">
	<match url="^mantenimiento(|/)$"  />
	<action type="Rewrite" url="/./mantenimiento.php"  />
</rule>
<rule name="rule 14W">
	<match url="^disconnected(|/)$"  />
	<action type="Rewrite" url="/./disconnected.php"  />
</rule>
<rule name="rule 15W">
	<match url="^hotel(|/)$"  />
	<action type="Rewrite" url="/./hotel.php"  />
</rule>
<rule name="rule 16W">
	<match url="^beta(|/)$"  />
	<action type="Rewrite" url="/./hotelv2.php"  />
</rule>
<rule name="rule 17W">
	<match url="^me(|/)$"  />
	<action type="Rewrite" url="/./me.php"  />
</rule>
<rule name="rule 18W">
	<match url="^articles(|/)$"  />
	<action type="Rewrite" url="/./articles.php"  />
</rule>
<rule name="rule 19W">
	<match url="^articles/gratis(|/)$"  />
	<action type="Rewrite" url="/./articles-gratis.php"  />
</rule>
<rule name="rule 20W">
	<match url="^articles/hotel(|/)$"  />
	<action type="Rewrite" url="/./articles-hotel.php"  />
</rule>
<rule name="rule 21W">
	<match url="^articles/mobis(|/)$"  />
	<action type="Rewrite" url="/./articles-mobis.php"  />
</rule>
<rule name="rule 22W">
	<match url="^articles/promocao(|/)$"  />
	<action type="Rewrite" url="/./articles-promocao.php"  />
</rule>
<rule name="rule 23W">
	<match url="^articles/sistema(|/)$"  />
	<action type="Rewrite" url="/./articles-sistema.php"  />
</rule>
<rule name="rule 24W">
	<match url="^gallery(|/)$"  />
	<action type="Rewrite" url="/./gallery.php"  />
</rule>
<rule name="rule 25W">
	<match url="^famous(|/)$"  />
	<action type="Rewrite" url="/./famous.php"  />
</rule>
<rule name="rule 26W">
	<match url="^team(|/)$"  />
	<action type="Rewrite" url="/./team.php"  />
</rule>
<rule name="rule 27W">
	<match url="^shop(|/)$"  />
	<action type="Rewrite" url="/./shop.php"  />
</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>