<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
<rule name="rule 1K">
	<match url="^index(|/)$"  />
	<action type="Rewrite" url="/./index.php"  />
</rule>
<rule name="rule 2K">
	<match url="^login(|/)$"  />
	<action type="Rewrite" url="/./login.php"  />
</rule>
<rule name="rule 3K">
	<match url="^forgot(|/)$"  />
	<action type="Rewrite" url="/./forgot.php"  />
</rule>
<rule name="rule 4K">
	<match url="^forgotchange(|/)$"  />
	<action type="Rewrite" url="/./forgotchange.php"  />
</rule>
<rule name="rule 5K">
	<match url="^register(|/)$"  />
	<action type="Rewrite" url="/./register.php"  />
</rule>
<rule name="rule 6K">
	<match url="^support(|/)$"  />
	<action type="Rewrite" url="/./support.php"  />
</rule>
<rule name="rule 7K">
	<match url="^news/(..*)$"  />
	<action type="Rewrite" url="/./news.php?url={R:1}"  />
</rule>
<rule name="rule 8K">
	<match url="^account/(..*)$"  />
	<action type="Rewrite" url="/./account.php?item={R:1}"  />
</rule>
<rule name="rule 9K">
	<match url="^photos/(..*)$"  />
	<action type="Rewrite" url="/./photos.php?url={R:1}"  />
</rule>
<rule name="rule 10K">
	<match url="^home/(..*)$"  />
	<action type="Rewrite" url="/./home.php?idd={R:1}"  />
</rule>
<rule name="rule 11K">
	<match url="^logout(|/)$"  />
	<action type="Rewrite" url="/./logout.php"  />
</rule>
<rule name="rule 12K">
	<match url="^banned(|/)$"  />
	<action type="Rewrite" url="/./banned.php"  />
</rule>
<rule name="rule 13K">
	<match url="^mantenimiento(|/)$"  />
	<action type="Rewrite" url="/./mantenimiento.php"  />
</rule>
<rule name="rule 14K">
	<match url="^disconnected(|/)$"  />
	<action type="Rewrite" url="/./disconnected.php"  />
</rule>
<rule name="rule 15K">
	<match url="^hotel(|/)$"  />
	<action type="Rewrite" url="/./hotel.php"  />
</rule>
<rule name="rule 16K">
	<match url="^me(|/)$"  />
	<action type="Rewrite" url="/./me.php"  />
</rule>
<rule name="rule 17K">
	<match url="^articles(|/)$"  />
	<action type="Rewrite" url="/./articles.php"  />
</rule>
<rule name="rule 18K">
	<match url="^articles/gratis(|/)$"  />
	<action type="Rewrite" url="/./articles-gratis.php"  />
</rule>
<rule name="rule 19K">
	<match url="^articles/hotel(|/)$"  />
	<action type="Rewrite" url="/./articles-hotel.php"  />
</rule>
<rule name="rule 20K">
	<match url="^articles/mobis(|/)$"  />
	<action type="Rewrite" url="/./articles-mobis.php"  />
</rule>
<rule name="rule 21K">
	<match url="^articles/promocao(|/)$"  />
	<action type="Rewrite" url="/./articles-promocao.php"  />
</rule>
<rule name="rule 22K">
	<match url="^articles/sistema(|/)$"  />
	<action type="Rewrite" url="/./articles-sistema.php"  />
</rule>
<rule name="rule 23K">
	<match url="^gallery(|/)$"  />
	<action type="Rewrite" url="/./gallery.php"  />
</rule>
<rule name="rule 24K">
	<match url="^famous(|/)$"  />
	<action type="Rewrite" url="/./famous.php"  />
</rule>
<rule name="rule 25K">
	<match url="^team(|/)$"  />
	<action type="Rewrite" url="/./team.php"  />
</rule>
<rule name="rule 26K">
	<match url="^shop(|/)$"  />
	<action type="Rewrite" url="/./shop.php"  />
</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>